.header {
    padding: 180px;
}

.header__title {
    display: flex;
    padding-bottom: 20px;
    font-size: 40px;
}

.header__login {
    padding-bottom: 20px;
    padding-left: 20px;
}

.header__password {
    padding-bottom: 20px;
    padding-left: 20px;
}

.header__submit {
    display: flex;
    padding-bottom: 10px;
    padding-left: 85px;
}
.header__reg{
    padding-left: 75px;
    font-size: 20px;
}
body {
    color: purple;
    background-image: url(https://i.pinimg.com/564x/0f/98/2a/0f982a8dcf54cabd58f393e17c8c93ea.jpg);
}