<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Character</title>
    <link href="{{ url_for('static', filename='style.css') }}
" rel="stylesheet" type="text/css">
</head>
<body>

<div class="perks">
    <form method="post" action="/create_character">
        <div class="name">
            <input name="name" value="Название персонажа">
        </div>
        <p>Выбирите характеристики</p>
        Сила<input type="number" size="3" name="strength" min="1" max="10" value="1">
        Ловкость<input type="number" size="3" name="agility" min="1" max="10" value="1">
        Интеллект<input type="number" size="3" name="intellect" min="1" max="10" value="1">
        <div class="race">
            <p><select size="3" multiple name="race">
                <option disabled>Выберите расу героя</option>
                <option value="Эльф">Эльф</option>
                <option selected value="Орки">Орки</option>
                <option value="Дворф">Дворф</option>
                <option value="Человек">Человек</option>
            </select></p>
        </div>
        <div class="vocation">

            <p><select size="3" multiple name="vocation">
                <option disabled>Выберите боевое искусство героя</option>
                <option value="Мечник">Воин</option>
                <option selected value="Лучник">Стрелок</option>
                <option value="Маг">Маг</option>
                <option value="Аватар">Аватар</option>
            </select></p>
        </div>
        <div class="knopka">
            <p><input type="submit" value="Создать"></p>
        </div>
    </form>
</body>
</html>