<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{{ url_for('static', filename='style.css') }}
" rel="stylesheet" type="text/css">
</head>
<body>
<a href="http://127.0.0.1:5000/register">Register</a>
<a href="http://127.0.0.1:5000/login">Login</a>
<a href="http://127.0.0.1:5000/relogin111">relogin111</a>
<!--<a href="http://127.0.0.1:5000/profile">Profile</a>-->
</body>
</html>