<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="{{ url_for('static', filename='style.css') }}
" rel="stylesheet" type="text/css">
</head>
<body>

{%if status == "success"%}
<div> Success</div>
{%elif status == "failed"%}
<div> Incorrect password or login</div>
{% endif %}
<div class="header">

    <div class="header__title">
        Authorization
    </div>

    <form method="post" action="/login">
        <div class="header__login">
            &#128100;<input name="login" placeholder="Login">
        </div>
        <div class="header__password">
            &#128274;<input name="password" placeholder="Password">
        </div>
        <div class="header__submit">
            <p><input type="submit" value="Login"></p>
        </div>
        <div class="header__reg">
            <a href="http://127.0.0.1:5000/register">Registration</a>
        </div>
    </form>
</div>
</body>
</html>