<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{{ url_for('static', filename='style_for_reg.css') }}
" rel="stylesheet" type="text/css">
</head>
<body>
    hhhhh
<!--    <a href="{{profile['link']}}">-->
<!--        <h1>{{profile['username']}}</h1>-->
<!--    </a>-->
<!--</div>-->

<!--<div>-->
<!--    <b>{{profile['lastname']}}</b>-->
<!--</div>-->
<!--<div>-->
<!--    <em>{{profile['age']}}</em>-->
</div>
</body>
</html>