<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{{ url_for('static', filename='style_for_reg.css') }}
" rel="stylesheet" type="text/css">
</head>
<body>
<div class="header">

    <form method="post" action="/register">
        <div class="header__title">Registration
        </div>
        <div class="header__firtsname">
            <input name="first_name" value="Enter you name">
        </div>
        <div class="header__lastname">
            <input name="last_name" value="Enter you lastname">
        </div>
        <div class="header__login">
            <input name="login" value="Enter you login">
        </div>
        <div class="header__password">
            <input name="password" type="password" value="Enter you password">
        </div>
        <div class="header__submit">
            <input type="submit" value="To register">
        </div>
    </form>
</div>
</body>
</html>