<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
     <link href="{{ url_for('static', filename='style_for_reg.css') }}
" rel="stylesheet" type="text/css">
</head>
<body>
<div class="header">
    <div class="header__title">
        Authorization
    </div>
    <div>
        {{user_info.last_name}}
    </div>
</div>
</body>
</html>